.mainHeader {
  height: 400px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #DEB750;
  background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding-top: 45px;
  z-index: 1;
}

/* Laptops / Desktops: minimum width of 960px */
@media only screen and (min-width: 960px){
  /* Write CSS rules that target small laptop screen sizes and beyond */
  .mainHeader {
    width: 25%;
    top:50%;
    left:25%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 25vw;
    width: 25vw;
  }

  .headerContainer {
    height:100%;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
  
  }
  .headerImg {
    height: 15vw;
    width: 15vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  /* Write CSS rules that target small laptop screen sizes and beyond */
  .mainHeader {
    width: 25%;
    top:50%;
    left:25%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 25%;
    width: 25%;
    font: 400;
  }

  .headerContainer {
    height:100%;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    
  }
  .headerImg {
    height: 15vw;
    width: 15vw;
  }
  .headerName {
    font-size: 2rem;
  }
}