.mainHeader {
  height: 400px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #DEB750;
  background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding-top: 45px;
  z-index: 1;
}

