span {
  font-family: 'Bungee';
  color:#FFFFFF;
  margin-left:1.5em;
  font-size: 3rem;
}

.navRight {
  font-family:'Source Sans Pro';
  font-size: 1.5rem;
  
}

.headerRight {
  display:flex;
  flex-direction: column;
  margin-right:1.5em;
  color:#FFFFFF;
  justify-content: center;
  align-items: center;
}

.doubleArrow {
  color:#917017;
}
nav {
  height: 80px;
  width:100%;
  background-color: #4056A1;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  position: fixed;
}