.errorMsg {
  color: Red;
  font-family: 'Source Sans Pro';
  font-size: 1em;
  font-weight: 800;
  display:flex;
  justify-content: center;
  border:red;
  border-width: 4px;
  border-style: solid;
  height:auto; 
}

form {
  width:100%;
  
}
#tweet-text {
  width:100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #3DFFEE;
  outline: none;
  height: 50px;
  font-family: 'Source Sans Pro';
  font-weight: 900;
  color:#917017;
  border-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #917017;
}

.underTextBox {
  padding-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  font-family:'Bungee';
  color: #FFFFFF;
  outline:none;
  border-style: hidden;
  height: 40px;
  width: 125px;
}

.counter {
  font-family:'Bungee';
  color: #917017;
}



.new-tweet {
  overflow: hidden;

  
  line-height: 0;
  color: transparent;
  display: none;
}

/*
.expand {
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 1;
  overflow: hidden;
  max-height: fit-content;
  
}

.expandOff {

  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;

  opacity: 0;
  overflow: hidden;
  max-height: 0;
}
*/
.headerRight:hover {
  cursor:pointer;
}

#tweetbutton:hover {
  cursor: pointer;
}