.tweets {
  margin-top:1.5em;
  border: 5px;
  border-color: #917017;
  border-style: solid; 
}

.tweets-container{
  display:flex;
  flex-direction: column;
}

.tweets-article-headerleft-img{
  width: 75px;
  height: 75px;
}

.tweets-article-header{
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.tweets-article-headerleft{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:15px;
  padding-left: 15px;
  margin-left: 1%;
}

.tweets-article-headerright-handle{
  display:flex;
  align-items: center;
  opacity: 15%;
  padding-right:15px;
  margin-right:1%;
}

.tweets-body{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom:10px;
  padding-left: 15px;
  display:flex;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-weight: 900;
  min-height: 5em;
  border-top:0;
  border-left:0;
  border-right: 0;
  border-bottom: 5px;
  border-color: #917017;
  border-style: solid; 
}

.tweets-article-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:30px;
  margin-top:10px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom:10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.tweets-article-footerleft-timesince{
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 800;
}

.tweets-icon-color{
  color:#4056A1;
}

.tweets-icon-color:hover{
  color:#a4b0d7;
  cursor:pointer;
}

article.tweets:hover{
  box-shadow: 8px 8px 2px 1px #41330a21;
}